.login{
    display: grid ;
    place-items: center;
    height: 100vh;

}

.login__container{
    display: flex;
    flex-direction: column;
}

.login__container > img{
    object-fit: contain;
    height: 200px;

}

.loader{
    color:rgb(75, 75, 224) ;

    padding-top: 25px;
    
    height: 20vh;
}