.sendMail{
    position: absolute;
    bottom: 0px ;
    right: 50px ;
    
    width: 40%;
    height: 70%;
    max-width: 800px;
    
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);
    
}
.sendMail__header{
    padding: 13px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #404040 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sendMail__header > h3{
    color: whitesmoke ;
    font-size: 13px;
}
.sendMail__close{
    cursor: pointer;

}
.sendMail__options{
    background-color: #404040 ;
}

.sendMail > form {
    display: flex ;
    flex: 1;
    flex-direction: column;
}

.sendMail > form > input{
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendMail__message{
    flex: 1;
    
}

.sendMail__error{
    background-color: white ;
    color: red;
    text-align: right;
    
}

.sendMail__send{
    background-color: #4a8af1 !important;
    text-transform: capitalize !important ;
    margin: 15px !important ;
   

}




